@import "tailwindcss";

@media print {
  @page {
    size: A4;
    margin: 12mm;
  }

  body {
    font-family: "Times New Roman", Times, serif;
    font-size: 10.5px;
    line-height: 1.25;
    color: #000;
  }

  .print-header {
    text-align: center;
    margin-bottom: 10px;
  }

  .print-header .form-no {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: right;
  }

  .print-header .university {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .print-header .subtitle {
    font-size: 10.5px;
    font-weight: 400;
    margin-top: 2px;
  }

  .print-title {
    margin-top: 6px;
    padding: 6px 0;
    color: #000000;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
  }
  .no-header-border {
    border: none !important;
  }

  .no-header-border * {
    border: none !important;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 6px;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  th,
  td {
    border: 1px solid #000;
    padding: 3px 5px;
    vertical-align: top;
  }

  th {
    background: #ffffff;
    font-weight: 700;
    text-align: center;
    font-size: 10px;
  }

  td {
    font-size: 10px;
  }

  tr {
    page-break-inside: avoid;
  }

  .ant-card,
  .ant-card-body {
    padding: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }

  .no-print {
    display: none !important;
  }
   thead tr:first-child th {
    border-top: none !important;
  }
}
